SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=agrotech-campo-ciudad.onrender.com
CORS_ALLOWED_ORIGINS=https://agrotech-campo-ciudad-qfzf-kq9jtt1qu-estebanfrms-projects.vercel.app
CSRF_TRUSTED_ORIGINS=https://agrotech-campo-ciudad.onrender.com,https://agrotech-campo-ciudad-qfzf-kq9jtt1qu-estebanfrms-projects.vercel.app
CORS_ALLOW_CREDENTIALS=True
DATABASE_URL=postgres://user:password@host:5432/dbname
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
